!!!
%html
  %head
    = render 'head'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bolsa Pública
    %meta{:charset => "utf-8"}/
    %link{:href => "assets/css/materialize.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/estilos.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "assets/css/fonts.css", :rel => "stylesheet"}/

%h1 Listing contests

%table
  %thead
    %tr
      %th Titulo
      %th Descripcion
      %th
      %th
      %th

  %tbody
    - @contests.each do |contest|
      %tr
        %td= contest.titulo
        %td= contest.descripcion
        %td= link_to 'Consultar', contest.document.url, target: '_blank'
        %td= link_to 'Show', contest
        %td= link_to 'Edit', edit_contest_path(contest)
        %td= link_to 'Destroy', contest, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Contest', new_contest_path
= link_to 'Concursos', concurso_path
