!!!
%html
  %head
    = render 'head'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bolsa Pública
    %meta{:charset => "utf-8"}/
    %link{:href => "assets/css/materialize.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/estilos.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "assets/css/fonts.css", :rel => "stylesheet"}/

%p#notice= notice

%p
  %b Titulo:
  = @contest.titulo
%p
  %b Descripcion:
  = @contest.descripcion

= link_to 'Consultar', @contest.document.url, target: '_blank'
\|
= link_to 'Back', contests_path
